*{
    font-family: sans-serif;
}

.post{
    width: 400px;
}

.red{
    font-size: 10px;
    margin-top: auto;
    
}

.post2{
    background-color: #4F67AF;
}





























@media (max-width:500px){
    .post2{
        width: 400px;
    }
}

@media (max-width:400px){
    .post2{
        width: 300px;
    }
}


@media (max-width:300px){
    .post2{
        width: 250px;
    }
}